# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Ignore generated grids (LFS will store them but you may not want them locally)
data/processed/
